<article class="card">
  <header class="card-header">
    <p class="name"><%= cardsGroup[i].name%></p>
    <p class="time"><%= cardsGroup[i].timestamp%></p>
  </header>

  <main class="card-body">
    <p><%- cardsGroup[i].text.full%></p>
  </main>
  <footer class="card-footer">
    <a
      class="link"
      target="_blank"
      rel="noopener noreferrer"
      href="https://twitter.com/<%= cardsGroup[i].username%>"
      >@<%= cardsGroup[i].username%></a
    >
    <a
      class="link"
      target="_blank"
      rel="noopener noreferrer"
      href="https://twitter.com/<%= cardsGroup[i].username%>/status/<%= cardsGroup[i].id%>"
      >ir al tweet</a
    >
  </footer>
</article>
